.Navbar-Container {
    margin-top: 0px;
    border: 0px;
}

.Navbar-DropdownFontColor {
    color: #595959;
}

.Navbar-BackgroundColor {
    background-color: rgb(25, 25, 25);
}

.Navbar-MainContainer {
    position: fixed;
}

.Navbar-margin-left {
    margin-left: 15px;
    color: aliceblue !important;
}

.Navbar-margin-right {
    margin-right: 15px;
}
.Navbar-margin {
    margin-right: 15px;
    margin-left: 15px;
}

.Navbar-margin-top {
    margin-top: 7px;
}

.NameTag {
    color: white !important;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #666666;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.padRight {
    padding-right: 35px;
}
